@model List<HackerMan.Models.Account>

<h1 class="py-2" data-value="Social Hacktics">Social Hacktics</h1>

<a asp-controller="Home" asp-action="AccountPicker" data-value="Begin" class="btn">
    Begin
</a> 
